@import "tailwindcss";

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-18px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content{
  animation: fadeUp 0.8s ease forwards;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 15px rgba(74, 222, 128, 0.4);
  }
  50% {
    box-shadow: 0 0 35px rgba(74, 222, 128, 0.8);
  }
  100% {
    box-shadow: 0 0 15px rgba(74, 222, 128, 0.4);
  }
}

.glow-btn {
  animation: glow 2s infinite;
}